<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076175525017-vts4bjg7r9i21s0rk0air4nbr071g856.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076175525017-vts4bjg7r9i21s0rk0air4nbr071g856</string>
	<key>API_KEY</key>
	<string>AIzaSyBRZOPEqeaElyasInTID2OEegIKTK2CcqA</string>
	<key>GCM_SENDER_ID</key>
	<string>1076175525017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zannat.OmnilsApp</string>
	<key>PROJECT_ID</key>
	<string>omnils-app-eb0bf</string>
	<key>STORAGE_BUCKET</key>
	<string>omnils-app-eb0bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076175525017:ios:96e326e5c851960a6d1408</string>
</dict>
</plist>